[submodule "external/has060xx"]
	path = external/has060xx
	url = https://github.com/kg68k/has060xx.git
[submodule "external/run68x"]
	path = external/run68x
	url = https://github.com/kg68k/run68x.git
